.c-contact-us {
  display: block;

  &__wrapper {
    position: relative;
    display: flex;

    width: 100%;
  }

  &__container {
    width: 100%;
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;

    @media screen and (min-width: 980px) {
      grid-template-columns: 1fr 1fr;
      column-gap: 16px;
      row-gap: 16px;
    }
  }

  &__input-wrapper {
    position: relative;

    @media screen and (min-width: 980px) {
      &--fullname,
      &--email,
      &--subject,
      &--order-number {
        grid-column: span 1;
      }

      &--message,
      &--submit {
        grid-column: span 2;
      }
    }
  }

  &__input-wrapper.filled {
    .c-contact-us__input,
    .c-contact-us__textarea {
      color: #0b0a0a;
    }
    .c-contact-us__label {
      color: #8b7e7d;
    }
  }

  &__input:focus + &__label,
  &__textarea:focus + &__label,
  &__input-wrapper.filled &__label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    background: #fff;
    padding: 0 4px;
  }

  &__input:focus + &__label,
  &__textarea:focus + &__label {
    color: #0b0a0a;
  }

  &__input-wrapper.is-error {
    .c-contact-us__input-error,
    .c-contact-us__textarea-error {
      display: block;
      color: #d71313;
    }

    .c-contact-us__input,
    .c-contact-us__textarea {
      border-color: #d71313;
      color: #d71313;
    }

    .c-contact-us__label,
    .c-contact-us__textarea-counter {
      color: #d71313;
    }
  }

  &__input,
  &__textarea {
    padding: 16px 14px;
    border: 1px solid #c5bebe;
    transition: border-color 0.2s ease;
    outline: none;
    width: 100%;
    resize: vertical;

    &:focus {
      color: #0b0a0a;
      border-color: #0b0a0a;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
      -webkit-text-fill-color: #0b0a0a;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:hover {
      border-color: #0b0a0a;
    }
  }

  &__textarea {
    min-height: 158px;
    resize: vertical;
  }

  &__textarea-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__textarea-counter {
    color: #6a6a6a;

    font-family: var(--font-heading);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-left: auto;
  }

  &__label {
    position: absolute;
    left: 14px;
    top: 16px;
    pointer-events: none;
    transition: all 0.2s ease;

    color: #8b7e7d;
    font-family: var(--font-body);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.07px;
  }

  &__input-error,
  &__form-error,
  &__textarea-length-error,
  &__textarea-error {
    display: none;
    color: #d71313;
    padding-top: 4px;

    font-family: var(--font-body);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.06px;
  }

  &__form-error {
    padding-top: 16px;
    text-align: center;

    &.is-error {
      display: block;
    }
  }

  &__textarea-length-error,
  &__textarea-error {
    &.is-error {
      display: block;
    }
  }

  &__submit {
    display: flex;
    padding: 17px 24px;
    align-items: center;
    background-color: #000;
    border: none;
    width: 100%;
    justify-content: center;

    color: #fff;
    font-family: var(--font-body);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    transition: all 0.25s ease;

    &.is-disabled {
      background: #a7aeb4;
      pointer-events: none;
    }

    &:hover {
      background-color: #3e3e3e;
    }
  }

  &__form {
    margin-bottom: 40px;
  }

  &__form-success {
    color: #28a745;
    padding-top: 16px;
    text-align: center;

    font-family: var(--font-body);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.06px;
  }
}
