.s-hero-banner {
  display: block;
  width: 100%;
  position: relative;

  &__bg-svg {
    display: none;
    position: absolute;
    z-index: 1;
    pointer-events: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  &__slider {
    display: block;
    width: 100%;
  }

  &__slide {
    display: block;
  }

  &__video {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
    // pointer-events: none;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: none;
    }

    @media screen and (min-width: 768px) {
      &--mobile {
        display: none;
      }

      &--tablet {
        display: block;
      }
    }

    @media screen and (min-width: 992px) {
      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
  }

  &__link {
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    inset: 0;
    z-index: 1;
  }

  &__container {
    position: relative;
    width: 100%;
  }

  &__container-image {
    display: block;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
    }
  }

  &__container-text {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 16px 40px;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
      text-align: left;
      padding: 64px 40px;
    }
  }

  &__slider-button {
    width: 36px;
    height: 36px;
    margin: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    background: rgba(21, 12, 6, 0.24);
    backdrop-filter: blur(32px);
    overflow: hidden;
    aspect-ratio: 1/1;
    transition: background 0.2s ease-in;
    z-index: 2;
    cursor: pointer;

    &:hover {
      background: rgba(21, 12, 6, 0.48);
    }

    &--prev {
      left: 16px;
      transform: rotate(180deg);
    }

    &--next {
      right: 16px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: none;
    }

    @media screen and (min-width: 768px) {
      &--mobile {
        display: none;
      }

      &--tablet {
        display: block;
      }
    }

    @media screen and (min-width: 992px) {
      &--tablet {
        display: none;
      }

      &--desktop {
        display: block;
      }
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--font-body);
    z-index: 2;
  }

  &__subtitle {
    font-family: var(--font-body);
    line-height: 134%;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    width: 100%;
    margin: 0;
  }

  &__title {
    font-family: var(--font-heading);
    margin: 0;
    width: 100%;

    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 50.4px */
    letter-spacing: -0.21px;

    &--desktop {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__description {
    font-family: var(--font-body);
    width: 100%;
    margin: 0;

    color: #fff;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.08px;

    &--desktop {
      display: none;

      @media screen and (min-width: 768px) {
        display: block;
      }
    }

    &--mobile {
      display: block;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &__text-item {
    font-family: var(--font-body);
    line-height: 114%;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
    width: 100%;
  }

  &__button {
    position: relative;
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 16px 27px;
    margin: 0;
    font-family: var(--font-body);
    font-size: 17px;
    font-weight: 400;
    line-height: 103.188%;
    letter-spacing: 0.68px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: all 0.3s ease;
    z-index: 1;
  }
}
